/* Start style on header page */
.content-box-header {
    width: 100%;
    height: 900px;
    background-color: #141414;
}
.shadow-image-black {
    background-image: url("assets/house.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #141414;
    height: 900px;
    opacity: 0.5;
}
.area-logo {
    padding: 2rem;
}
.area-calling-to-action {
    padding: 3rem;
}
.h1-text-header {
    color: #F8FAFF;
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 110%;
}
.describe-header {
    margin-top: 2rem;
    color: #F8FAFF;
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
}
.primary-button {
    /* Style of button */
    margin-top: 2rem;
    width: 333px;
    height: 58px;
    background-color: #EB4B27;
    color: #F8FAFF;
    border-radius: 100px;
    border-style: none;
    /*  Style of text button */
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
}
/* Finish style of header page */
/* Start styles of service section */
.personal-service {
   text-align: center;
    margin-top: 20px;
}
.describe-sections {
    color: #EB4B27;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
}
.title-sections {
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    line-height: 110%;
}
.wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.box-services {
    width: 340px;
    height: 340px;
    left: 190px;
    top: 1082px;
    box-shadow: 1px 15px 41px rgba(0, 0, 0, 0.14);
}
.icon {
    color: #EB4B27;
    margin-top: 26px;
}
.box-services > h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 23px;
    line-height: 120%;
    position: relative;
    top: 110px;
}
.box-services > p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    position: relative;
    top: 130px;
}
/* Finish styles of service section */